#head {
    border: 1px double gray;
    border-radius: 5px;
    background-color: rgb(209, 130, 62);
}

.parent{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    height: 700px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.445);
    background-color: sandybrown;
    margin: 0 auto;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
    font-size: 20px;
    padding: 1px;
}

.subparent {
    border: 1px solid gray;
    border-radius: 15px;
    margin-top: 20px;
    padding-left: 15px;
    height: 390px;
}

#image {
    width: 300px;
    border-radius: 15px;
    height: 200px;
    border: 5px transparent;
    padding: 3px;
}

#description {
    font-style: italic;
}

#bullets {
    list-style-type: none;
    padding: 0px;
}

span {
    font-weight: bold;
}